html {
    scroll-behavior: smooth;
}

/* Navbar */

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0;
}

.title4 {
    color: #114b5f;
}

/* Buttons*/

.nuno-button {
    background-color: #C8BFC7;
    color: black;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


/* Profile page*/
.prof {
    color: #114b5f;
    font-size: 20px;
}

/* Footer */

a {
    text-decoration: none;
    outline: none;
}
.footer-main-div {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px 0px;
    background-color: #26A69A;
}

.footer-social-icons {
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-social-icons ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-social-icons ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 100%;
    background: white;
}
.footer-social-icons ul li:hover{
    background:#ddfcad;
}
.footer-social-icons ul li a{
    color: #26A69A;
    font-size: 25px;
    display: block;
}
.footer-social-icons ul li a i{
    line-height: 50px;
}
.footer-menu-one{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;

}
.footer-menu-one ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer-menu-one ul li {
    display: inline-block;
    margin: 0 15px;
}
.footer-menu-one ul li a{
    font-size: 13px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
.footer-menu-one ul li a:hover{
    color: #ddfcad;
}
.footer-bottom{
    width: 100%;
    height: auto;
    margin: auto;
    color: #26A69A;
    background-color: white;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* back top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #114b5f;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #ddfcad;
  color: black;
}

/* slider */
.slider .indicators .indicator-item.active {
    background-color: #114B5F !important;
}