{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text center align">Edit Recipe</h3>   
    
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <!-- Recipe Name-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-hamburger prefix teal-text text-lighten-1"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" value="{{ recipe.recipe_name }}" type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- Recipe Preparation Time-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-stopwatch prefix teal-text text-lighten-1"></i>
                    <textarea id="prep_time" name="prep_time" minlength="5"
                        maxlength="50" class="materialize-textarea validate" required>
                        {{- recipe.prep_time -}}
                    </textarea>
                    <label for="prep_time">Preparation Time (in minutes)</label>
                </div>
            </div>
            <!-- Recipe Description-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-blender prefix teal-text text-lighten-1"></i>
                    <textarea id="recipe_description" name="recipe_description" minlength="5"
                        maxlength="500" class="materialize-textarea validate" required>
                        {{- recipe.recipe_description -}}
                    </textarea>
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>
            <!-- Recipe Ingredients-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-shopping-basket prefix teal-text text-lighten-1"></i>
                    <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="5"
                        maxlength="1000" class="materialize-textarea validate" required>
                        {{- recipe.recipe_ingredients -}}
                    </textarea>
                    <label for="recipe_ingredients">Ingredients</label>
                </div>
            </div>
            <!-- Recipe Steps-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-ol prefix teal-text text-lighten-1"></i>
                    <textarea id="recipe_steps" name="recipe_steps" minlength="5"
                        maxlength="1000" class="materialize-textarea validate" required>
                        {{- recipe.recipe_steps -}}
                    </textarea>
                    <label for="recipe_steps">Steps</label>
                </div>
            </div>
            <!-- Edit button-->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_recipe') }}" class="btn waves-effect waves-light red">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button class="btn waves-effect waves-light" type="submit">Edit Recipe
                        <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
            
        </form>
    </div>
{% endblock %}