{% extends "base.html" %}
{% block content %}
<br>
<!-- Slider-->
<!-- Code from (Traversy Media)(https://www.youtube.com/watch?v=MaP3vO-vEsg)-->
<div class="slider">
    <ul class="slides">
        <li>
            <img src="static/assets/images/eaters-collective-12eHC6FxPyg-unsplash.jpg" alt="pasta">
            <div class="caption left-align">
                <h2 class="black-text shadow">Delicious Recipes</h2>
                <br>
                <a class="teal lighten-1 waves-effect waves-light btn-large" href="#all_recipes">Check Recipes</a>
            </div>
        </li>
        <li>
            <img src="static/assets/images/ella-olsson-rD3YrnhTmf0-unsplash.jpg" alt="salad">
            <div class="caption center-align">
                <h3 class="black-text shadow">Register to start adding Recipies</h3>
                <br>
                <a class="teal lighten-1 waves-effect waves-light btn-large" href="{{ url_for('login') }}">Login</a>
                <a class="teal lighten-1 waves-effect waves-light btn-large" href="{{ url_for('register') }}">Register</a>

            </div>
        </li>
        <li>
            <img src="static/assets/images/joseph-gonzalez-zcUgjyqEwe8-unsplash.jpg" alt="pancakes">
            <div class="caption right-align">
                <h2 class="shadow">Recipe of the week</h2>
                <a class="teal lighten-1 waves-effect waves-light btn-large" href="#week_recipe">Check Recipes</a>
            </div>
        </li>
    </ul>
</div>
<br>

<!--  Search Section  -->
<div class="container">
    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row center-align">
                <div class="input-field col s12">
                    <i class="fas fa-search prefix teal-text text-lighten-1"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Recipes</label>
                </div>
                <div class="col s12">
                    <a href="{{ url_for('get_recipe') }}" class="red btn text-shadow">
                        <i class="fas fa-redo left"></i> Reset
                    </a>
                    <button type="submit" class="teal darken-1 btn">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<br>

<!-- All Recipes Section-->
{% if recipes|length > 0 %}
<a id="all_recipes"></a>
<div class="container">
    <ul class="collapsible popout">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header white-text teal lighten-1">
                <div class="col s3 ">
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="col s9">
                    <strong>{{ recipe.recipe_name }}</strong>: <em>{{ recipe.prep_time }}</em>
                    {% if session.user|lower == recipe.created_by|lower %}
                    <a class="waves-effect waves-light btn-small red"
                        href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete</a>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                        class="waves-effect waves-light btn-small green">Edit</a>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <img src="{{ recipe.image_url}}" class="responsive-img">
                <p>{{ recipe.recipe_description }}</p>
                <p>{{ recipe.recipe_ingredients }}</p>
                <p>{{ recipe.recipe_steps }}</p>
                <p><b>Created by:</b> {{ recipe.created_by }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
    <!--Warning box No results-->
    {% else %}
    <div class="container">
        <div class="row" id="alert_box">
            <div class="col s12 m12">
                <div class="card" style="background-color: #ddfcad;">
                    <div class="row">
                        <div class="col s12 m12">
                            <div class="card-content">
                                <p class="center-align" style="font-size: 20px;">Ups, We couldn't find that Recipe</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<!-- Recipe of the week section-->
<a id="week_recipe"></a>
<div class="container">
    <h3 class="center-align teal-text lighten-1">Recipes of the week</h3>
    <br>
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="static/assets/images/mateusz-feliksik-GgHv0981LZg-unsplash.jpg" alt="yogurt" style="height: 329px;">
                    <span class="card-title">Instant frozen berry yogurt</span>
                </div>
                <div class="card-content">
                    <p>Three ingredients and two minutes is all you need to whip up this low-fat, low-calorie yogurt, which
                    is ideal for eating after exercise.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="static/assets/images/adam-przeniewski-YD4svPPdOU4-unsplash.jpg" alt="pudding" style="height: 329px;">
                    <span class="card-title">Quick mango pudding</span>
                </div>
                <div class="card-content">
                    <p>If you've taken time to make a special main course, why not take the pressure off and serve this simple but delicious pudding.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}